{%extends 'layout.html'%}
{%block container%}
<div class="py-32 relative overflow-x-auto sm:rounded-lg">




<div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
    <a href="#">
        <img class="rounded-base" src="../static/img/profile.png" alt="" />
    </a>
    <a href="#">
        <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Nombre: {{nombre}}</h5>
    </a>
    <p class="mb-6 text-body">Apaterno: {{apaterno}}</p>
    <p class="mb-6 text-body">Email: {{email}}</p>
    <a href="/" class="mt-5 inline-flex items-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
        Regresar
    </a>
</div>

  

</div>


{%endblock%}