{% extends 'layout.html' %}
{% block container %}

<div class="py-24 flex justify-center">

  <div class="bg-neutral-primary-soft w-full max-w-lg p-10
              border border-default rounded-base shadow-xs">

    <h5 class="text-3xl font-semibold tracking-tight text-heading mb-6">
      Matrícula: {{ matricula }}
    </h5>

    <div class="space-y-4 text-body text-lg">
      <p><span class="font-medium">Nombre:</span> {{ nombre }}</p>
      <p><span class="font-medium">Apellidos:</span> {{ apellidos }}</p>
      <p><span class="font-medium">Especialidad:</span> {{ especialidad }}</p>
      <p><span class="font-medium">Email:</span> {{ email }}</p>
    </div>

    <div class="mt-8">
      <a href="{{ url_for('maestros.listado_maestros') }}"
         class="inline-flex items-center text-body
                bg-neutral-secondary-medium border border-default-medium
                hover:bg-neutral-tertiary-medium shadow-xs
                font-medium rounded-base text-sm px-5 py-2.5">
        Regresar
      </a>
    </div>

  </div>

</div>

{% endblock %}