{% extends 'layout.html' %}
{% block container %}
{% import "_macros.html" as macros %}

<div class="mt-5">
  <form action="" method="POST" novalidate class="max-w-md mx-auto mt-5">
    {{ form.csrf_token }}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <div class="relative z-0 w-full mb-5 group hidden">
      {{ macros.campoNuevo(form.matricula,
        class="block py-2.5 px-50 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
      )}}
    </div>

    <div class="relative z-0 w-full mb-5 group">
      {{ macros.campoNuevo(form.nombre, class="block w-full px-3 py-2 text-sm text-gray-900 bg-gray-50 border border-gray-300 rounded-lg
            focus:ring-blue-500 focus:border-blue-500")}}
    </div>

    <div class="relative z-0 w-full mb-5 group">
      {{ macros.campoNuevo(form.apellidos, class="block w-full px-3 py-2 text-sm text-gray-900 bg-gray-50 border border-gray-300 rounded-lg
            focus:ring-blue-500 focus:border-blue-500")}}
    </div>

    <div class="relative z-0 w-full mb-5 group">
      {{ macros.campoNuevo(form.especialidad, class="block w-full px-3 py-2 text-sm text-gray-900 bg-gray-50 border border-gray-300 rounded-lg
            focus:ring-blue-500 focus:border-blue-500")}}
    </div>

    <div class="relative z-0 w-full mb-5 group">
      {{ macros.campoNuevo(form.email, class="block w-full px-3 py-2 text-sm text-gray-900 bg-gray-50 border border-gray-300 rounded-lg
            focus:ring-blue-500 focus:border-blue-500")}}
    </div>

    <button type="submit"
      class="inline-flex items-center text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-3 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
      Modificar
    </button>

    <a href="{{ url_for('maestros.listado_maestros') }}"
      class="inline-flex items-center ml-3 text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-3 focus:outline-none focus:ring-red-300 font-medium rounded-base text-sm px-4 py-2.5 text-center leading-5">
      Cancelar
    </a>

  </form>
</div>

{% endblock %}